h1 {
    font-size: 100px;
    color: yellowgreen;
    border: 5px black;
}
html {    
    text-align: center;
    background-image: url('https://upload.wikimedia.org/wikipedia/commons/thumb/1/14/2018_Tesla_Model_S_75D.jpg/1200px-2018_Tesla_Model_S_75D.jpg');
    background-size: 100% 100%;
}
a {
    padding: 20px;
    border-radius: 10px;
    background-color: gray;
    text-style-type: none;
}
