h1 {
    font-size: 100px;
    color: red;
}
html {    
    text-align: center;
    background-image: url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSFP4Ju6KHpDftHvudiuHVIYVqsw7SSsCqmWElBAy9u1XVMD2_MrxxJEW54q3Sa2rKp8r8:https://cloudfront-us-east-2.images.arcpublishing.com/reuters/P7RD6UHCKZPGZAOSQQZ2ZICBJQ.jpg&usqp=CAU');
    background-size: 100% 100%;
}
a {
    padding: 20px;
    border-radius: 10px;
    background-color: gray;
    text-style-type: none;
}
