h1 {
    font-size: 100px;
    color: red;
}
html {    
    text-align: center;
    background-image: url('https://static-assets-prod.epicgames.com/competitive/static/webpack/352a38b67caa5fc6cf2169f3b7bb281b.jpg');
    background-size: 100% 100%;
}
a {
    padding: 20px;
    border-radius: 10px;
    background-color: gray;
    text-style-type: none;
}
